html{
    background-image: url(../Imagens/cypher.jpg);
    background-size: 100%;
    background-attachment: fixed;
}


p{
    background-color: #5989c7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


table, th, td{
    border: 2px solid;
    border-radius: 10px;
    background-color: #fead78;
    border-color: #dd8d57;
    text-align: center;
    padding: 10px;
}

th {
    border: 2px solid;
    border-radius: 10px;
    background-color: #5989c7;
    border-color: #5989c7;
    text-align:center;
    padding: 10px;
    height: fit-content;
    font-family: 'Gill Sans MT';
}


.container-titulo{
    max-width: 500px;
    margin: 400px auto;
    padding: 20px;
    background-color: #f5a623;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Gill Sans';
    font-size: 20px;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    font-family: Calibri; 
    gap: 20px;
    display:grid;
    grid-template-columns: 7fr 5fr;
    justify-items: stretch;
    grid-template-areas: 'aside article';
    
}

aside{
    grid-area: aside;
}

article{
    grid-area: article;
}


.container-titulo-secao{
    background-color: #b9b9b9;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 50px;
    width: auto;
    font-family: 'Gill Sans MT';
    
}


.container-tabela{
   height: auto;
   
}

.container-prg{
    margin-top: 110px;
    width: auto;
}