html {
    background-image: url(../Imagens/cypher.jpg);
    background-size: 100%;
    background-attachment: fixed;
}


aside {
    grid-area: aside;
}

article {
    grid-area: article;
}

section {
    grid-area: section;
}


p {
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: large;
    font-family: courier;
}


span {
    font-style: italic;
    letter-spacing: 2px;
}

table,
th,
td {
    border: 2px solid;
    border-radius: 10px;
    background-color: #b9b9b9;
    border-color: #b9b9b9;
    text-align: center;
    padding: 10px;
    width: 500px;
}

td {
    background-color: #f5a623;
    border-radius: 10px;
    font-family: Courier;
}


th {
    border: 2px solid;
    border-radius: 10px;
    background-color: #5989c7;
    border-color: #5989c7;
    font-family: monospace;
    font-size: large;
}


.container-titulo {
    max-width: 500px;
    margin: 400px auto;
    padding: 20px;
    background-color: #f5a623;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Gill Sans';
    font-size: 20px;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    display: grid;
    grid-template-columns: 7fr 5fr;
    justify-items: stretch;
    grid-template-areas: 'aside article' 'section section';
    justify-content: space-between;


}


.container-descricao {
    background-color: #fead78;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: auto;
    font-family: monospace;

}

.container-menu {
    background-color: #b9b9b9;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: auto;
    font-family: monospace;
}

ul a {
    color: #000000;
    font-family: monospace;
    font-size: larger;
}

a {
    color: #000000;
    font-family: monospace;
    font-size: larger;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.container-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;

}

#lore {
    background-color: #5989c7;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: auto;
    font-family: monospace;
    margin-bottom: 45px;
}

#bio {
    background-color: #f5a623;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: auto;
    font-family: monospace;
}

#play {
    background-color: #b9b9b9;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: auto;
    font-family: monospace;
    text-align: center;
    font-size: large;
}